@charset= "UTF-8";


#main {
   float:left;
   margin:0 10px;
   /*width: 580px;*/
   width: 760px;
}

/* reader */

.re {
  background-color: #d3d3d3;
}

#reader {
  color: #111;
  background-color: #A5F2C2;
}

#notreader {
  background-color: #b0c4de;
}

#strong {
  font-size: 200%;
  font-weight: bold;

}